<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>4IT Community Ranking</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>#spams-list {
        max-width: 1000px;
    }
    .col-name {
        width: 20%;
    }
    .col-action{
        width: 20%;
    }
    .col-message{
        width:40%;
    }
    .col-reason{
        width:20%;
    }
    button[disabled]+.tooltip{
        visibility: hidden;
    }
    [v-cloak] {
        display: none
    }
    </style>
</head>
<body>

<div class="container" id="spams-list">
    <div v-cloak>
        <div class="row text-center">
            <div class="col-xs-12">
                <h1><a href="//www.facebook.com/groups/4it.community/" target="_blank">Danh sách spam</a></h1>
                <p v-if="total">Từ {{from}} tới {{to}} trên tổng số {{total}} tin spam</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                            {{loading?'Loading...':heading}}
                            <div class="pull-right">
                                <div v-if="fb" class="pull-left" style="padding-right: 5px">
                                    <button class="btn btn-default btn-xs" @click="allSpam" :disabled="loading">
                                        <span class="glyphicon glyphicon-signal" aria-hidden="true"></span> {{loading ? 'Loading...' : 'Tất cả'}}
                                    </button>
                                    <button class="btn btn-default btn-xs" @click="mySpam" :disabled="loading" title="Kiểm tra thứ hạng của bạn" data-toggle="tooltip">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{loading ? 'Loading...' : 'Của tôi'}}
                                    </button>
                                </div>
                                <span v-if="maxPages">{{page}}/{{maxPages}}</span>
                                <button :disabled="!prev" @click="goBack" class="btn btn-default btn-xs" title="Trang trước" data-toggle="tooltip"><i class="glyphicon glyphicon-menu-left"></i></button>
                                <button :disabled="!next" @click="goNext" class="btn btn-default btn-xs" title="Trang sau" data-toggle="tooltip"><i class="glyphicon glyphicon-menu-right"></i></button>
                            </div>


                        </h3>

                    </div>
                    <div class="panel-body">
                        <div class="alert alert-success" v-if="items.length==0">
                            Không tìm thấy spam nào
                        </div>
                        <div v-if="items.length > 0">
                            <table id="spamTable" data-toggle="table" class="table">
                                <thead>
                                <tr>
                                    <th class="col-name">Tên</th>
                                    <th class="col-message">Nội dung spam</th>
                                    <th class="col-reason">Lý do</th>
                                    <th class="col-action">Hành động</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="spam in items">
                                    <td class="col-name"><a target="_blank" :href="'https://fb.com/'+spam.fb_uid">
                                        <img class="profile-picture"
                                             :src="'//graph.facebook.com/'+spam.fb_uid+'/picture?width=32'"
                                             alt="profile-picture" width="32px" height="32px">
                                    </a>
                                        <a target="_blank" :href="'https://fb.com/'+spam.fb_uid">
                                            {{spam.fb_name}}
                                        </a></td>
                                    <td class="col-message">{{spam.message}}</td>
                                    <td class="col-reason">{{spam.reason}}</td>
                                    <td class="col-action"><a :href="spam.url" target="_blank">Xem nội dung</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="panel-footer text-center">
                        Developed by <a href="//4it.top" target="_blank">4IT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.4.0/vue.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.0/vue-resource.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="assets/js/spammers.js"></script>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1687216521581146',
            xfbml      : true,
            version    : 'v2.10'
        });
        FB.AppEvents.logPageView();
        if(rank)rank.fb=1;
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>